body {
    background-color: #88f695; 
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #3d9347;
    border-radius: 25px; 
    padding: 20px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* A little shadow for depth */
    text-align: center; /* Center align the text */
}
#startButton {
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #64e273; /* Blue background */
    color: white; /* White text */
    cursor: pointer; /* Cursor changes to hand icon when over the button */
    margin-bottom: 20px; /* Space between the button and the container */
}
h1, h2 {
    color: #333;
}

p {
    line-height: 1.6;
}
